@import url("//fonts.googleapis.com/earlyaccess/notosansscsliced.css");
@import url("//fonts.googleapis.com/css?family=Lato:300,400|Rajdhani|Source+Code+Pro");
body{
background:url(//o3cuh1dri.qnssl.com/FDBPmFk.png) 0 0/412px #fafafa;
}
.book-body{
background:rgba(255,255,255,.4);
}
.book .book-summary ul.summary li span {
color:#666;
}
.book .book-summary ul.summary li.active > a {
    color: #090;
    font-weight: bold;
}
.book .book-summary ul.summary li a {
    color: #000;
}
.book .book-summary ul.summary li a:hover {
color: #f40;
text-decoration: none;
}
a{
cursor:pointer;
}
a:hover,a:focus,a:active{
color:#f40;
}
.markdown-section a:active, .markdown-section a:focus, .markdown-section a:hover{
text-decoration:none;
}
.markdown-section ol, .markdown-section ul{
padding:0;
}
.markdown-section ol ol, .markdown-section ol ul, .markdown-section ul ol, .markdown-section ul ul{
padding-left:1.3em;
}
.markdown-section * {
    font-size:18px;
}
.markdown-section pre {
    background: #fcfff0;
    color: #060;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
    border: 1px dashed #ccc;
}
.markdown-section{
color:#000;
}
pre, html, button , input , optgroup , select , textarea , .book.font-family-1 {
    font-weight: normal;
    font-family: Lato,Noto Sans SC Sliced, sans-serif;
}

h1, h2, h3, h4, h5, h6, .markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
    font-family: Rajdhani,PingFang SC,Microsoft Yahei UI Light,Microsoft YaHei, Noto Sans SC Sliced, sans-serif;
    font-weight: 200;
}

.markdown-section pre{
    font-family: 'Source Code Pro', Noto Sans SC Sliced, monospace;
}

body{
    font-size:16px;
}
